/* HTML Stylesheet */
body {
    text-align: center;
    background-color: #F9F5F1;
    color: #303035;
    font-family: sans-serif;
}

.form_div {
    background-color: #F9F5F1;
    width: 40%;
    margin: 1em auto;
    border: 20px solid #F9F5F1;
    border-radius: 20px;
    box-shadow: 0 0 20px #303035;
}

fieldset {
    border: none;
    border-bottom: solid rgba(0,0,0,0.1);
}